.friend-cards ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 20px 20px;
}

.friend-cards li {
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    color: #000;
    list-style: none;
    font-weight: bold;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.status.online {
    color: green !important;
}

.status.offline {
    color: red !important;
}