.transaction-history {
    width: 100%;
    border-collapse: collapse;
    margin:50px 0px 50px 0px;
}

.transaction-history th {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

.transaction-history td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    color: black;
}

.transaction-history tr:nth-child(even) {
    background-color: #f5f5f5;
}