body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.profile {
  width: 300px;
  background: white;
  border: 2px solid #000;
  border-radius: 10px;
  overflow: hidden;
  font-family: system-ui, sans-serif;
  margin: 20px auto;
}

.description {
  text-align: center;
  padding: 25px;
}

.avatar {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: #777;
}

.name {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.tag,
.location {
  margin: 5px 0;
  color: #777;
  font-size: 15px;
}

.stats {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #e5e5e5;
}

.stats li {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
}

.stats li:last-child {
  border-right: none;
}

.label {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

.value {
  display: block;
  margin-top: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #000;
}


.friend-cards ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 20px 20px;
}

.friend-cards li{
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  color: #000;
  list-style: none;
  font-weight: bold;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.status.online {
  color: green !important;
}

.status.offline {
  color: red !important;
}


.transaction-history {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.transaction-history th {
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 10px;
}

.transaction-history td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  color: black;
}

.transaction-history tr:nth-child(even) {
  background-color: #f5f5f5;
}