.transactionHistory {
    width: 615px;
    height: 45px;
    border-collapse: collapse;
    border: 1px solid black;
    margin: 50px 0;
    color: black;
}

.th {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

.td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    color: black;
}

.tr:nth-child(even) {
    background-color:#999;
}